* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	background-color: #ecf0f1;
}

.slider-container {
	width: 60%;
	height: 70vh;
	position: relative;
	background-color: #2c3e50;
	overflow: hidden;
	border-radius: 1em;
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
		rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
}

.slider-container .slides-container {
	width: 100%;
	height: 100%;
}

.slider-container .slides-container img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	opacity: 0;
}

.slider-container .slides-container img.active {
	opacity: 1;
}

.slider-container :is(.prev-btn, .next-btn) {
	width: 50px;
	height: 50px;
	padding: 10px;
	background-color: #ecf0f1;
	position: absolute;
	top: 45%;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transition: transform 0.2s linear, opacity 0.2s linear;
	-webkit-transition: transform 0.2s linear, opacity 0.2s linear;
	-moz-transition: transform 0.2s linear, opacity 0.2s linear;
	-ms-transition: transform 0.2s linear, opacity 0.2s linear;
	-o-transition: transform 0.2s linear, opacity 0.2s linear;
}

.slider-container .prev-btn {
	left: 25px;
	transform: translateX(-50px);
	-webkit-transform: translateX(-50px);
	-moz-transform: translateX(-50px);
	-ms-transform: translateX(-50px);
	-o-transform: translateX(-50px);
}

.slider-container .next-btn {
	right: 25px;
	transform: translateX(50px);
	-webkit-transform: translateX(50px);
	-moz-transform: translateX(50px);
	-ms-transform: translateX(50px);
	-o-transform: translateX(50px);
}

.slider-container:hover :is(.prev-btn, .next-btn) {
	opacity: 1;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
}

.slider-container .next-btn img {
	color: #2c3e50;
}

.slider-container .dots-container {
	width: 100%;
	height: fit-content;
	padding: 0.75em 0;
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.slider-container .dots-container > .dot {
	width: 1.25em;
	height: 1.25em;
	display: inline-block;
	margin: 0 5px;
	background-color: transparent;
	border: 4px solid #ecf0f1;
	cursor: pointer;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transition: background 0.2s linear;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-ms-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
}

.slider-container .dots-container > .dot:hover {
	background-color: #ecf0f1;
}

.slider-container .dots-container > .dot.active {
	background-color: #ecf0f1;
}
